body{
  display: flex;
  flex-direction: column;
  margin: 0;
  background-color: #000;
  font-family: "Helvetica Neue", sans-serif;  
  text-align:center;
}

*,  *::before, *::after {
  box-sizing: border-box;
}


header{
  /* Photo by  Mike Kotsch */
  /* The gradient is to get the fade from low opacity black
   * to full black with opacity 1, we can use both gradient
   * and an image as background */
  background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,1)), 
                    url("images/hero-image.jpg");
  background-position: center center;
  background-size: cover;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  font-family: "Helvetica Neue", sans-serif;
}

h1{
  color: blue;
  /* To get "overlay" text that merges with 
   * the background */
  mix-blend-mode: exclusion;
  /* To get a long shadow: use multiple text-shadow 
   * and increase the distance from the text with
   * 1px for each shadow, 0 is for zero spread, no blur 
   */
  text-shadow:  1px 1px 0 red, 
                2px 2px 0 red, 
                3px 3px 0 blue,
                4px 4px 0 blue,
                5px 5px 0 blue;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #000;
}

section {
  margin-top: 3rem;
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  align-items: center;
}

.three-column img {
  opacity: 0.4;
  max-width: 300px;
  max-height: 300px;
  border-radius: 10px;
  margin-bottom: 3rem;
}

section img:hover{
  opacity: 1;
}

section img {
  margin-bottom: 3rem;
}

section h2 {
  color: #999;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
}

video{
  border-radius: 10px;
}